<!DOCTYPE html>
<html lang="en">
  <%- include ("./templates/header.ejs", {title: "IMDb - Top Picks"}) %>
  <body>
    <%- include('./templates/navbar.ejs') %>
  </body>

  <%- include ("./templates/footer.ejs", {title: "IMDb - Weekly Top 10"}) %>
</html>
