<footer>
  <div class="footer-content">
    <div class="footer-logo d-flex align-items-center mr-2">
      <img
        src="https://m.media-amazon.com/images/G/01/IMDb/brand/guidelines/imdb/IMDb_Logo_Rectangle_Gold._CB443386186_.png"
        width="60"
        height="30"
        alt=""
      />
      <h2 class="ml-2">Movie Info</h2>
    </div>
    <div class="footer-info">
      <p>&copy; 2024 IMDb Movie Info | Designed by Parshwa Patil</p>
    </div>
    <div class="footer-social">
      <a href="https://www.facebook.com" target="_blank"
        ><i class="fa fa-facebook-f"></i
      ></a>
      <a href="https://www.twitter.com" target="_blank"
        ><i class="fa fa-twitter"></i
      ></a>
      <a href="https://www.instagram.com" target="_blank"
        ><i class="fa fa-instagram"></i
      ></a>
    </div>
  </div>
</footer>
